<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>110044757938-9o6tabg4tc6kvn9setc37jb6j6s1q6rh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.110044757938-9o6tabg4tc6kvn9setc37jb6j6s1q6rh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>110044757938-acp3lsfgtot4fdv25mrop18i20p47oq3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAQzr1dBHHq7M0eosXGqv5RbijWaLu6db8</string>
	<key>GCM_SENDER_ID</key>
	<string>110044757938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lunchi</string>
	<key>PROJECT_ID</key>
	<string>lunch-app-e2b56</string>
	<key>STORAGE_BUCKET</key>
	<string>lunch-app-e2b56.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:110044757938:ios:430b75069f77fd2a7baeab</string>
</dict>
</plist>